@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-image: url( 'Job.png');
}
.container{
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background: url("sign-up.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    }
.form{
    max-width: 700px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
}
header{
    font-size: 40px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
form{
     margin-top: 30px;
     padding: 20px;
     background: transparent;
    box-shadow: -3px -3px 9px #aaa9a9a2,
            3px 3px 7px rgba(147, 149, 151, 0.671);
    border-radius:6px ;
    width: 100%;

}
.form .field{
    position: relative;
    height: 55px;
    width: 100% ;
    margin-top: 10px;
    border-radius: 6px;;
    margin-bottom: 20px;
    
    

}
/* .dropdown{
    position: relative;
    height: 50px;
    width: 100% ;
    margin-top: 20px;
    
    
   
} */
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
    color: #232836;
        background-color: #FFF;
        
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #120101;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #FFF;
    background-color: rgb(25, 128, 9) ;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 15px;
}
.field button:hover{
    background-color: rgb(218, 211, 211) ;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
}
.form a{
    color: #2684d2;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.dropdown *{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    margin: 5px 5px 5px 5px ;
    padding: 15px;
    border-color: rgb(234, 222, 222);
    margin: -1px;
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
}
.textarea{
    padding: 15px;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    border: 6px solid transparent;
    color: #FFF;
    border: 1px solid #CACACA;
    
    
}

